@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@reach/dialog/styles.css";

[data-reach-dialog-content] {
  margin: 5vh auto;
  width: 90vw;
  max-width: 1000px;
  padding: 1rem;
}

.tui-editor-contents, .tui-editor-defaultUI, .CodeMirror {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif  !important;
  font-size: unset !important;
}

.tui-editor-contents a {
  overflow-wrap: break-word;
  color: #16add0 !important;
  word-break: break-all;
}
